body{
  background-color: #cacfe3;
  font-family: "calibri";
  box-sizing: border-box;
  padding: 7%;
}

*, *:before, *:after{
  box-sizing: inherit;
}

.outer-container{
  width: 100%;
  height: 500px;
  box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.35);
  border-radius: 5px;
  overflow: hidden;
}

.top-outer-container {
  width:100%;
  height:40%;
}

.bottom-outer-container {
  width: 100%;
  height: 60%;
}

.monthly-subscription, .why-us{
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.top-outer-container, .monthly-subscription, .why-us{
  padding: 30px;
}

.top-outer-container{
  background-color: white;
}

.monthly-subscription{
  background-color: #27a39d;
}

.why-us{
  background-color: #2dc2bb;
}

#join {
  color: #27a39d;
}

#hassle {
  color: #9ebd24;
}

#gain-full-access{
  color: #9a9dab;
}

p{
  color: white;
  line-height; 0.5rem;
}

h3{
  color: white;
}

#dollar29{
  color: white;
  font-size: 3rem;
}

button{
  color: white;
  background-color: #9ebd24;
  width: 100%;
  padding: 10px;
  border: none;
  font-size: 1.04rem;
}

button:hover {
	cursor: pointer;	
	opacity: 0.9;
  border: 1px solid white;
}

ul{
  padding: 0px;
  list-style: none;
  color: white;
  font-size: 0.9rem;
 }

@media (max-width: 650px) {
  .outer-container, .monthly-subscription, .why-us, .top-outer-container {
    width: 100%;
    height: auto;
  }
  
  body {
    padding: 7%;
  }
}
